@import url('https://fonts.googleapis.com/css?family=Montserrat:500');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

html{
    scroll-behavior: smooth;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
body {
    min-height:100vh;
    width:100%;
    height: 100%;
    margin: 0 auto;
    overflow-x: hidden;
    position: relative;
    background-color: rgb(216,216,216);
    }
  
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

.home{
    min-height: 100vh;
    background:  linear-gradient(to bottom, rgba(0, 0, 0, 0.733), rgba(0, 0, 0, 0.733)),url(../img/app/home.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 2rem;
    padding-top: 6rem;
}
.home .content{
    width: 45vw;
}
.home .content h1{
    font-size: 50px;
    color: #fff;
}
.home .content p{
    font-size: 20px;
    color: #fff;
    padding: 1rem 0;
}
.btn{
    font-size: 17px;
    padding: .7rem 2rem;
    color: #fff;
    background: rgb(165, 7, 7);
    cursor: pointer;
    margin-top: 1rem;
    border: none;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.5);
    border-radius: 3px;
}
.btn:hover{
    opacity: .8;
    box-shadow: none;
}
.home .content .buttons a:nth-child(2) .btn{
    background: #444;

}
@media(max-width:768px){
    .home{
        flex-flow: column-reverse;
    }
    .home .content{
        padding: 2rem 0;
        width: auto;
    }
    .home .content h1{
        font-size: 30px;
    }

}
@media(max-width:500px){
.home .image img{
    width: 100vw;
}
}
.home{
    padding: 30px;
}
.feature{
    min-height: 100vh;
}
.heading{
    text-align: center;
    padding: 1rem;
    padding-top: 80px;
}
.heading span{
    display: inline-block;
    font-size: 40px;
    padding:1rem;
    color: #444;
    text-align: center;
}
.feature .box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

}
.feature .box-container .box{
    text-align: center;
    width: 360px;
    padding: 5px;
    margin: 2rem;
    border: .5px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
    cursor: pointer;
    height: 250px;
    align-items: center;
    justify-content: center;
}
.feature .box-container .box i{
    font-size: 50px;
    padding: 25px 0;
    color: #a50707;
}
.feature .box-container .box h3{
    font-size: 25px;
    color: #444;
}
.feature .box-container .box p{
    font-size: 15px;
    color: #444;
    padding: 1rem;
}
.feature .box-container .box:hover{
    background: #444;
}
.feature .box-container .box:hover i{
    color: #fff;
}
.feature .box-container .box:hover h3{
    color: #fff;
}
.feature .box-container .box:hover p{
    color: #eee;
}
.review{
  min-height: 100vh;  
}
.review .review-slider{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.review .review-slider .box{
    text-align: center;
    width: 280px;
    padding: 40px;
    margin: 2rem;
    border: .5px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
    cursor: pointer;
    height: 370px;
}
.review .review-slider .box img{
    height: 100px;
    width: 100px;
    margin: 1rem auto;
    border-radius: 50%;
    object-fit: cover ; 
}
.review .review-slider .box h3{
    color: #444;
    font-size: 25px;
}
.review .review-slider .box p{
    color: #666;
    font-size: 15px;
    padding: 5px;
}
.review .review-slider .box .stars i{
    color: #a50707;
    font-size: 15px;
}
.download{
    min-height: 100vh;
    background: #222;
}
.download .box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.download .box-container .box{
    margin:20px;
    text-align: center;
    padding: 2rem;
    background: #333;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.5);
    width: 360px;
}
.download .box-container .box i{
    color: #fff;
    font-size: 5rem;
    padding: 2rem 0;
}
.download .box-container .box h3{
    color: #fff;
    font-size: 25px;
}
#tl span{
    color: #fff;
}

#tl{
    padding: 80px auto 60px auto;

}