@import url('https://fonts.googleapis.com/css?family=Montserrat:500');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

html{
    scroll-behavior: smooth;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
body {
    min-height:100vh;
    width:100%;
    height: 100%;
    margin: 0 auto;
    overflow-x: hidden;
    background-color: rgb(216,216,216);
    }
  
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

/*-----------------------------------IMG--------------------------------*/
.main-image{
    position: initial;
    background-image: 
    linear-gradient(to bottom, rgba(0, 0, 0, 0.733), rgba(0, 0, 0, 0.733)),
    url("../img/clubes/ginasio.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 500px;
    overflow: hidden;
    width: 100%;
  }
  .conteudo{
    position: relative;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50% );
    text-align: center;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
  }
  .conteudo h1{
    margin: 0;
    font-size: 70px;
    text-align: center;
    justify-content: center;
  }
  @media screen and (max-width: 600px) {
    .conteudo h1 {
      font-size: 40px;
      text-align: center;
      justify-content: center;
    }
    .main-image{
      height: 300px
    }  
  }
/*-----------------------------------IMG--------------------------------*/
.container{
  max-width: 90%;
  padding: 0.625rem;
  margin: 50px auto;
}
.row{
  display: flex;
  min-width: 100%;
  padding:0 auto;
  margin: 1rem auto;
}
.img-box{
  position: relative;
  flex: 25%;
  padding: 25px ;
  transition: 1s;
}
.img-box:hover{
  transform: scale(1.09);
  z-index: 2;
}
.img-box img{
  width: 100%;
  height: auto;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.5);
  border-radius: 4px;

}

.image__title{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  color: white;
  text-shadow: rgba(0, 0, 0, 10);
  align-items: center;
  justify-content: center;

}
.image__title {
  font-size: 36px;
  font-weight: bold;
}
@media(max-width:50rem){
  .row{
      display:flex;
      flex-direction: column;
  }
  .image__title {
    font-size: 26px;
  }
}
  