@import url('https://fonts.googleapis.com/css?family=Montserrat:500');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

html{
    scroll-behavior: smooth;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
body {
    min-height:100vh;
    width:100%;
    height: 100%;
    margin: 0 auto;
    overflow-x: hidden;
    background-color: rgb(216,216,216);
    }
  
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

/*-----------------------------------IMG--------------------------------*/
.main-image{
  position: initial;
  background-image: 
  linear-gradient(to bottom, rgba(0, 0, 0, 0.733), rgba(0, 0, 0, 0.733)),
  url("../img/faqs/gym.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 500px;
  overflow: hidden;
  width: 100%;
}
.cont{
  position: relative;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50% );
  text-align: center;
  color: white;
  font-weight: 700;
  text-transform: uppercase;
}
.cont h1{
  margin: 0;
  font-size: 70px;
  text-align: center;
  justify-content: center;

}
@media screen and (max-width: 600px) {
  .cont h1 {
    font-size: 40px;
    text-align: center;
    justify-content: center;
  }
  .main-image{
    height: 300px
  }

}


/*-----------------------------------IMG--------------------------------*/
/*-----------------------------------Section do accordion--------------------------------*/
#corpo {
  width: 100%;
  height: 100%;
  background-color:  rgb(216,216,216);
  display: flex;
  align-items: center;
  justify-content: center;
}

.accordion {
  width: 90%;
  max-width: 1000px;
  margin: 32px auto;
}
.accordion-item {
  background-color: #fff;
  color: #111;
  margin: 16px 0;
  border-radius: 8px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.25);
  border: 1px #747474 solid;
  
}
.accordion-item-header {
  padding: 8px 48px 8px 16px;
  min-height: 56px;
  line-height: 20px;
  font-weight: bold;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.accordion-item-header::after {
  content: "\002B";
  font-size: 32px;
  position: absolute;
  right: 16px;
}
.accordion-item-header.active::after {
  content: "\2212";
}
.accordion-item-body {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.accordion-item-body-content {
  padding: 16px;
  line-height: 24px;
  border-top: 1px solid;
  border-image: linear-gradient(to right, transparent, #34495e, transparent) 1;
}

@media(max-width:767px) {
  html {
    font-size: 14px;
  }
}