@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
}

body {
    position: relative;
    background-image: linear-gradient(45deg, #07060C, #242535);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    top: 0;
}

.contentinside {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
    padding-top: 5rem;
    width: 100%;
}

.container {
    position: relative;
    width: 100%;
    max-width: 90%;
    padding: 50px;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    overflow: hidden;

}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar a {
    color: white;
    font-size: 26px;
    text-decoration: none;
}

.navbar span {
    color: #3FE09B;
}

.menuham {
    z-index: 999;
    display: inline-block;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #3FE09B;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

.intro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5rem;
}

.intro h1 {
    margin-bottom: 20px;
    color: white;
    font-size: 50px;
}

.intro h2 {
    margin-bottom: 5px;
    color: #3FE09B;
    font-size: 20px;
    letter-spacing: 8px;
    font-weight: 500;
    margin-bottom: 10px;
}

.intro p {
    color: #B9B9B9;
    font-weight: 500;
}

.contactbtn {
    background-color: #3FE09B;
    border: none;
    color: black;
    padding: 10px 17px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 20px;
    transition: 0.5s;
}

.contactbtn:hover {
    transition: ease-in-out 0.5s;
    box-shadow: 0 0 10px #3FE09B, 0 0 20px #3FE09B, 0 0 30px #3FE09B;
}

.introinfo {
    margin-left: 10%;
}

.introimg {
    margin-right: 10%;
}

.introimg img {
    border-radius: 50%;
    width: 350px;
}

/*TRABALHOS*/

.work {
    padding: 5rem;
    padding-bottom: 0;
}

.work p {
    color: #B9B9B9;
    font-weight: 300;
}

.work h1 {
    margin-bottom: 4%;
    color: white;
    font-size: 40px;
}

.cartas {
    display: flex;
    justify-content: space-around;
}

.cartas img {
    width: 300px;
    height: 360px;
}

/*SUPERFIT*/

.superfitimg {
    margin-right: 20px;
    position: relative;
    width: 300px;
    height: 360px;
}

.superfitimg:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-color: #5de6de;
    background-image: linear-gradient(315deg, #5de6de 0%, #b58ecc 74%);
    transition: 0.5s all;

}

.superfitimg:hover:before {
    opacity: 0;
}

.sficon {
    position: absolute;
    top: 8px;
    right: 8px;
}

.sficon i {
    color: black;
    font-size: 25px;
}

.sf {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.sf h1 {
    color: black;
}

.superfitimg:hover .sf h1 {
    opacity: 0;
}

.sfling {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.sfling p {
    color: black;
}

.superfitimg:hover .sfling p {
    color: white;
}

.superfitimg:hover .sficon i {
    color: white;
}

/*VOGUE*/

.vogueimg {
    position: relative;
    width: 300px;
    height: 360px;
}

.vogueimg:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-color: #f9c5d1;
    background-image: linear-gradient(315deg, #f9c5d1 0%, #9795ef 74%);
    transition: 0.5s all;

}

.vogueimg:hover:before {
    opacity: 0;
}

.vogueicon {
    position: absolute;
    top: 8px;
    right: 8px;
}

.vogueicon i {
    color: black;
    font-size: 25px;
}

.vogue {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.vogue h1 {
    color: black;
}

.vogueimg:hover .vogue h1 {
    opacity: 0;
}

.vogueling {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.vogueling p {
    color: black;
}

.vogueimg:hover .vogueling p {
    color: white;
}

.vogueimg:hover .vogueicon i {
    color: white;
}

/*DODGE*/

.dodgeimg {
    margin-left: 20px;
    margin-right: 20px;
    position: relative;
    width: 300px;
    height: 360px;
}

.dodgeimg:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-color: #9eabe4;
    background-image: linear-gradient(315deg, #9eabe4 0%, #77eed8 74%);
    transition: 0.5s all;

}

.dodgeimg:hover:before {
    opacity: 0;
}

.dodgeicon {
    position: absolute;
    top: 8px;
    right: 8px;
}

.dodgeicon i {
    color: black;
    font-size: 25px;
}

.dodge {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.dodge h1 {
    color: black;
}

.dodgeimg:hover .dodge h1 {
    opacity: 0;
}

.dodgeimg:hover .dodgeling p {
    color: white;
}

.dodgeimg:hover .dodgeicon i {
    color: white;
}

.dodgeling {
    text-align: center;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.dodgeling p {
    color: black;
}

/*Cartas 2*/

.cartas2 {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}

/*CURRICULO ANTIGO*/

.curriculumimg {
    position: relative;
    width: 300px;
    height: 360px;
}

.curriculumimg:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-color: #d8dede;
    background-image: linear-gradient(315deg, #d8dede 0%, #e5bdf6 74%);
    transition: 0.5s all;
}

.curriculumimg:hover:before {
    opacity: 0;
}

.curricarta {
    width: 300px;
    height: 360px;
    background-color: black;
}

.curricon {
    position: absolute;
    top: 8px;
    right: 8px;
}

.curricon i {
    color: black;
    font-size: 25px;
}

.curric {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.curric h1 {
    color: black;
}

.curriculumimg:hover .curric h1 {
    color: white;
}

.curriculumimg:hover .curriling p {
    color: white;
}

.curriculumimg:hover .curricon i {
    color: white;
}

.curriling {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.curriling p {
    color: black;
}

/*ABOUT ME*/
.aboutme {
    margin-top: 6%;
    padding: 5rem;
    padding-top: 0;
}

.aboutme p {
    color: #B9B9B9;
    font-weight: 300;
}

.aboutme h1 {
    margin-bottom: 4%;
    color: white;
    font-size: 40px;
}

.info {
    display: flex;
    width: 100%;
}

.info p {
    color: #B9B9B9;
    font-size: 19px;
    font-weight: 600;
}

.info span {
    color: white;
}

.cvbtn {
    width: 20%;
    background-color: #3FE09B;
    border: none;
    color: black;
    padding: 10px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 20px;
    transition: 0.5s;
}

.cvbtn:hover {
    transition: ease-in-out 0.5s;
    box-shadow: 0 0 10px #3FE09B, 0 0 20px #3FE09B, 0 0 30px #3FE09B;
}

.textoebtn {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.textoinfo {
    height: 100%;
    width: 75%;
    margin-top: 4%;
}

.progressbar {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.textopb1 {
    display: flex;
    justify-content: space-between;
}

.pbgrey {
    width: 100%;
    background-color: grey;
    height: 5px;
    margin: 6px 0;
}

.pb1 {
    margin: 1rem;
    display: flex;
    height: 20%;
    width: 100%;
    flex-direction: column;
}

.progressbar1 {
    background-color: #3FE09B;
    width: 90%;
    height: 5px;
}

.textopb2 {
    display: flex;
    justify-content: space-between;
}

.pb2 {
    margin: 1rem;
    display: flex;
    height: 20%;
    width: 100%;
    flex-direction: column;
}

.progressbar2 {
    background-color: #3FE09B;
    width: 80%;
    height: 5px;
}

.textopb3 {
    display: flex;
    justify-content: space-between;
}

.pb3 {
    margin: 1rem;
    display: flex;
    height: 20%;
    width: 100%;
    flex-direction: column;
}

.progressbar3 {
    background-color: #3FE09B;
    width: 75%;
    height: 5px;
}

/*FORMACAO*/

.formacao {
    padding: 5rem;
    padding-top: 0;
}

.formacao p {
    color: #B9B9B9;
    font-weight: 300;
}

.formacao h1 {
    margin-bottom: 4%;
    color: white;
    font-size: 40px;
}

.leftside {
    display: flex;
    flex-direction: column;
}

.leftside i {
    color: #3FE09B;
    font-size: 30px;
}

.barraform {
    width: 5px;
    height: 55px;
    background-color: white;
}

.contentforma {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.rightside h1 {
    font-size: 30px;
    margin: 10px 0 0 10px;
}

.rightside h3 {
    color: white;
    font-size: 20px;
    font-weight: 300;
    margin: 10px 0 0 10px;
}

.parte1esq, .parte2esq {
    margin: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.parte1dir p, .parte2dir p {
    margin-top: 15px;
}

/*CONTACTOS*/

.contacts {
    padding: 5rem;
    padding-top: 0;
}

.contacts p {
    color: #B9B9B9;
    font-weight: 300;
}

.contacts h1 {
    margin-bottom: 4%;
    color: white;
    font-size: 40px;
}

.infocontact {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#infoemail, #infophone {
    color: white;
    font-size: 20px;
    font-weight: 400;
}

#infoemail a, #infophone a {
    text-decoration: none;
    color: white;
}

@media (max-width:1285px) {
    .introimg img {
        width: 250px;
    }

    .superfitimg {
        width: 250px;
        height: 310px;
    }

    .cartas img {
        width: 250px;
        height: 310px;
    }

    .vogueimg {
        width: 250px;
        height: 310px;
    }

    .dodgeimg {
        width: 250px;
        height: 310px;
    }

    .curriculumimg {
        width: 250px;
        height: 310px;
    }

    .curricarta {
        width: 250px;
        height: 310px;
    }

    .progressbar {
        width: 45%;
    }

    .cvbtn {
        width: 25%;
    }
}

.submenu-wrap {
    display: none;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
    transition: ease .5s;
    background-color: #000000bd;
    position: fixed;
    top: 0;
    z-index: 1;
}

.submenu {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.submenu a {
    float: left;
    color: white;
    height: 100%;
    text-decoration: none;
    font-size: 40px;
    display: flex;
    justify-content: flex-start;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding: 10px;
}

.submenu a:hover {
    color: #3FE09B;
    cursor: pointer;

}

.submenu-conteudo {
    display: flex;
    align-items: center;
}

a.goupbtn {
display: none;
    width: 1%;
    position: fixed;
    color: white;
    font-size: 40px;
    z-index: 99;
    margin: 20px;
    bottom: 0;
}


@media (max-width: 1505px) {
    .introimg img {
        width: 250px;
    }

    .work {
        padding-top: 0;
    }

    .aboutme {
        padding-bottom: 0;
    }

    .formacao {
        margin-top: 6%;
        margin-bottom: 6%;
        padding-bottom: 0;
    }

    .superfitimg {
        width: 250px;
        height: 300px;
    }

    .cartas img {
        width: 250px;
        height: 300px;
    }

    .vogueimg {
        width: 250px;
        height: 300px;
    }

    .dodgeimg {
        width: 250px;
        height: 300px;
    }

    .curriculumimg {
        width: 250px;
        height: 300px;
    }

    .curricarta {
        width: 250px;
        height: 300px;
    }

    .info {
        width: 90%;
    }
}

@media (max-width: 1260px) {
    .superfitimg {
        width: 200px;
        height: 240px;
    }

    .cartas img {
        width: 200px;
        height: 240px;
    }

    .vogueimg {
        width: 200px;
        height: 240px;
    }

    .dodgeimg {
        width: 200px;
        height: 240px;
    }

    .curriculumimg {
        width: 200px;
        height: 240px;
    }

    .curricarta {
        width: 200px;
        height: 240px;
    }

    .work h1 {
        font-size: 30px;
    }

    .sfling p, .curriculumimg p {
        text-align: center;
        width: 130px;
    }

    .vogueling p {
        text-align: center;
    }

    .info p {
        font-size: 18px;
    }

    .rightside h1 {
        font-size: 24px;
    }
}

@media (max-width: 1077px) {
    .work h1 {
        font-size: 23px;
    }

    .cvbtn {
        width: 30%;
    }

    .textoinfo {
        margin-bottom: 4%;
    }

    #titulowork {
        font-size: 38px;
    }

    .intro h1 {
        font-size: 37px;
    }

    .intro h2 {
        font-size: 15px;
    }

    .introimg {
        margin-right: 5%;
    }

    .info {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .info p {
        text-align: center;
    }

    .superfitimg, .cartas img, .vogueimg, .dodgeimg, .curriculumimg, .curricarta {
        width: 170px;
        height: 204px;
    }

    .progressbar {
        width: 50%;
    }

    .pb1, .pb2, .pb3 {
        margin: 0;
        margin-top: 20px;
    }

    .rightside {
        text-align: center;
    }

    .leftside {
        justify-content: flex-start;
    }
}

@media (max-width:929px) {

    .container {
        padding: 20px;
    }

    .introinfo {
        text-align: center;
        margin-left: 0;
    }

    .intro {
        flex-direction: column;
        padding-right: 0;
        padding-left: 0;
    }

    .introimg {
        margin-top: 20px;
        margin-right: 0;
    }

    .introimg img {
        width: 170px;
    }

    .intro h1 {
        font-size: 35px;
    }

    .work {
        padding: 0;
    }

    #titulowork {
        font-size: 29px;
    }

    .cartas {
        flex-direction: column;
        align-items: center;
    }

    .superfitimg, .vogueimg, .dodgeimg, .curriculumimg {
        margin: 10px;
    }

    .aboutme {
        padding: 0;
    }

    .aboutme h1 {
        font-size: 29px;
    }

    .textoinfo {
        width: 100%;
    }

    .cvbtn {
        width: 40%;
    }

    .progressbar {
        width: 85%;
    }

    .formacao {
        padding: 0;
        margin-top: 13%;
        margin-bottom: 13%;
    }

    .leftside {
        display: none;
    }

    .rightside h3 {
        font-size: 16px;
        margin: 0;
    }

    .rightside h1 {
        margin: 0;
        margin-bottom: 10px;
        font-size: 20px;
    }

    .contacts {
        padding: 0;
        margin-top: 13%;
        margin-bottom: 13%;
    }

    .infocontact {
        text-align: center;
        flex-direction: column;
    }

    #infophone, #infoemail {
        text-align: center;
    }

    .formacao h1 {
        font-size: 29px;
    }

    .contacts h1 {
        font-size: 29px;
    }

    .contentforma h1 {
        font-size: 20px;
    }
}