@import url('https://fonts.googleapis.com/css?family=Montserrat:500');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
  font-family: "Montserrat", sans-serif;
    font-size: 10px;
    scroll-behavior: smooth;
}
img{
    width: 100%;
}
body{
  background-color: #eee;
}
/*-----------------------------------IMG--------------------------------*/
.main-image{
  position: initial;
  background-image: 
  linear-gradient(to bottom, rgba(0, 0, 0, 0.733), rgba(0, 0, 0, 0.733)),
  url("../img/medidasc/gym.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 500px;
  overflow: hidden;
  width: 100%;
}
.conteudo{
  position: relative;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50% );
  text-align: center;
  color: white;
  font-weight: 700;
  text-transform: uppercase;
}
.conteudo h1{
  margin: 0;
  font-size: 70px;
  text-align: center;
  justify-content: center;
}
@media screen and (max-width: 600px) {
  .conteudo h1 {
    font-size: 40px;
    text-align: center;
    justify-content: center;
  }
  .main-image{
    height: 300px
  }

}

/*-----------------------------------IMG--------------------------------*/

/*-----------------------------------Section para centralizar--------------------------------*/

#corpo{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1.5rem;
  flex-direction: column;
}
.box{
  padding: 80px 0 50px 0;
}
.blog-post{
  width: 100%;
  max-width: 98rem;
  padding: 5rem;
  background-color: #fff;
  box-shadow: 0 1.4rem 8rem rgba(0, 0, 0, .2);
  display: flex;
  align-items: center;
  border-radius: .8rem;
}
.blog-post_img{
  min-width: 35rem;
  max-width: 35rem;
  height: 30rem;
  transform: translateX(-8rem);
  position: relative;
}
.blog-post_img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: .8rem;
}
.blog-post_img::before{
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: .5rem .5rem 3rem 1px rgba(0, 0, 0, .05);
  border-radius: .8rem;
}
.blog-post_title{
  font-size: 2.5rem;
  margin: 1.5rem 0 2rem;
  text-transform: uppercase;
  color:black;
}
.blog-post_text{
  margin-bottom: 3rem;
  font-size: 1.4rem;
  color: rgb(44, 44, 44);
  line-height: 20px;
}
@media screen and (max-width: 1068px){
  .blog-post{
  max-width: 80rem;
  }
  .blog-post_img{
      min-width: 30rem;
      max-width: 30rem;

  }
}
@media screen and (max-width: 868px){
  .blog-post{
  padding: 2.5rem;
  flex-direction: column;
  }
  .blog-post_img{
      min-width: 100%;
      max-width: 100%;
      transform: translate(0, -5rem);

  }
}

