@import url('https://fonts.googleapis.com/css?family=Montserrat:500');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,300,700');
  
*{
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      font-family: "Montserrat", sans-serif;
    }
    
body {
    min-height:100vh;
    width:100%;
    height: 100%;
    margin: 0 auto;
    overflow-x: hidden;
    position: relative;
    background-color: rgb(216, 216, 216);
    }
  
    


/*=============================================================================================================================================================================================================*/
/*Fundo - Pagina Recrutamento*/

.fundo-recrutamento {
  background-image: url('../img/recrutamento/escritorio-superfit.png');
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
}


/*=============================================================================================================================================================================================================*/
/*Fundo -Formulario*/


.fundo-form{
  background-color: #332E2E;
  opacity: 90%;
  max-height: 90%;
  height: 90%;
  width: 60%;
  border-radius: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 30px;
  box-shadow: 0 0 4em #332E2E;
}


/*==================================================================================================================================================================================================================*/
/*FORMULARIO*/

form{
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;


}

select{
  height: 5vh;
  width: 200%;
  border-radius: 20px;
  text-transform: uppercase;
  border: none;
  background-color: white;
  color: black;
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  margin: 5%;
  padding: 10px;
  box-sizing: border-box;
}

.linha {
  background-color: white;
  width: 350%;
  margin-bottom: 10%;
  height: 3px;
  z-index: 99;
}

.titulo-form {
  font-size: 35px;
  letter-spacing: 2px;
  color: white;
  margin-top: 10%;
  margin-bottom: 10%;
  font-family: 'Anton', sans-serif;
  text-transform: uppercase;
  z-index: 99;
}

.texto-form{
  color: white;
  font-size: 20px;
  font-weight: bold;
  font-style: bold ;
  font-family: "Montserrat", sans-serif;
  padding: 4%;
  
}

.caixa-texto{
  height: 5vh;
  width: 200%;
  border-radius: 20px;
  text-transform: uppercase;
  border: none;
  background-color: white;
  color: black;
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  margin: 5%;
  padding: 10px;
  box-sizing: border-box;
}

.botao{
  padding: 20px;
  margin-bottom: 10%;
  font-size: 15px;
  text-transform: uppercase;
  border: none;
  background-color: #ff0000;
  color: #fff;
  cursor:pointer;
  transition: all 0.3s ease 0s;
  border-radius: 20px;
}

.botao:hover{
  background-color: white;
  color:black;
  
}




  /*==========================================================================================================================================================================================================*/
  /*RESPONSIVO*/

/*--------------------------------------------------------------------------------------------------------------------------------*/
/* RESPONSIVO - 1580px */

@media (max-width: 1580px) { 

  .linha {
    width: 250%;
}

}


/*--------------------------------------------------------------------------------------------------------------------------------*/
/* RESPONSIVO - 1145px */

@media (max-width: 1145px) { 

  .linha {
    width: 200%;
}

}

/*--------------------------------------------------------------------------------------------------------------------------------*/
/* RESPONSIVO - 905px */

@media (max-width: 905px) { 

  .linha {
    width: 155%;
}

.caixa-texto {
  width: 150%;
}

select {
  width: 150%;
}

.botao {
  padding: 20px;
  /* margin-right: 20px; */
  font-size: 15px;
  text-transform: uppercase;
  border: none;
  background-color: #ff0000;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  border-radius: 20px;
}

}


/*--------------------------------------------------------------------------------------------------------------------------------*/
/* RESPONSIVO - 705px */

@media (max-width: 705px) { 

  .linha {
    width: 110%;
}

.caixa-texto {
  width: 100%;
}

select {
  width: 110%;
}

.botao {
  padding: 10px;
  /* margin-right: 20px; */
  font-size: 14px;
  text-transform: uppercase;
  border: none;
  background-color: #ff0000;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  border-radius: 20px;
}

}


/*--------------------------------------------------------------------------------------------------------------------------------*/
/* RESPONSIVO - 450px */

@media (max-width: 450px) { 

  .linha {
    width: 85%;
}

.titulo-form {
  font-size: 25px;
}

.caixa-texto {
  width: 80%;
}


select {
  width: 80%;
}

.texto-form {
  font-size: 16px;

}

}
