@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;1,100;1,200&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

html {
  scroll-behavior: smooth;
}

/*div que engloba a pag toda, com margens*/

.conteudo {
  max-width: 90%;
  width: 90%;
  margin-bottom: 5%;
  margin-top: 2%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;

}

/*caixa do titulo aka hero image*/
.titulo {
  background: #fff;
  color: #fff;
  box-shadow: 10px 10px 20px rgb(0 0 0 / 40%);
  display: inline-flex;
  align-items: center;
  width: 100%;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 3%;
  background-image: url("../img/espacos/imagem1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 500px;

}

.titulo h1 {
  text-transform: uppercase;
}

/*mascara na hero image*/

.texto-wrap {
  background: #00000091;
  width: 100%;
  height: 100%;
  text-align: start;

}

/*div que engolba os textos na hero image*/
.boxwrap {
  display: flex;
  flex-direction: column;
  align-content: center;
  height: 100%;
  justify-content: center;

}

/*titulo na hero image*/

.texto-tit {
  padding: 15px;
  text-align: center;
  justify-content: flex-start;
}

/*subtitulo na hero image*/
/*
.texto-subtit {
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 40%;
  text-align: start;
  margin-left: 10%;

}
*/
.texto-subtit {
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
  font-size: 18px;


  /* margin-left: 10%; */
}

/*linhas onde estao as caixas com conteudo (3 caixas por linha)*/

.line {
  max-width: 100%;
  display: inline-flex;

}

/*****caixas com conteudo****/

.caixa {
  margin: 10px;
  width: 500px;
  height: 300px;
  display: block;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  position: relative;
  background-position: center center;
  background-size: cover;
  transition: 1s;

}

/*mascara que é apresentada em hover na caixa*/

.mascara {
  overflow: hidden;
  position: absolute;
  bottom: 0;
  right: 100%;
  left: 0;
  width: 0;
  height: 100%;
  display: inline-flex;
  background: #000000b5;
  justify-content: center;
  align-items: center;
  color: #fff;
  transition: .5s ease;

}

/*caixa quando em hover*/

.caixa:hover {

  transform: scale(1.05);
  transition: 1s;
  cursor: pointer;

}

/*apresentar a mascara quando dar hover na caixa*/

.caixa:hover .mascara {
  width: 100%;
  right: 0;
}

/*texto "ver mais" apresentado na mascara*/
.texto {
  position: absolute;
  text-transform: uppercase;
  white-space: nowrap;
  bottom: 20%;


}

/*descricao em hover*/
.descricao {
  padding: 10px;
}

/*imagem de fundo correta para cada espaco*/

#piscina {
  background-image: url("../img/espacos/piscina1.jpg");

}

#crossfit {
  background-image: url("../img/espacos/crossfit4.jpg");


}

#yoga {
  background-image: url("../img/espacos/yoga1.jpg");

}

#cardio {
  background-image: url("../img/espacos/cardio1.jpg");

}

#pesos {
  background-image: url("../img/espacos/pesos1.jpg");

}

#combate {
  background-image: url("../img/espacos/combate1.jpg");

}

/****faixa ao fundo da caixa com nome do espaco****/

/*

Nota: o nome "triangulo" deve-se a antes ser um "ribbon" no canto sup esquerdo

*/


/*container da faixa*/

.triangulo-container {
  width: 100%;
  height: auto;
  overflow: hidden;
  position: absolute;
  bottom: 0;
}

/*faixa*/

.triangulo {
  z-index: 2;
  /*position: absolute;*/
  width: 100%;
  padding: 15px;
  text-align: center;
  font-size: 13px;
  background-color: #dd0f0fbd;
  color: #fff;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.4);
  text-transform: uppercase;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
  box-sizing: border-box;

}

/**Modal Boxes Espaços**/

/* background da caixa */
.caixa-pop {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  z-index: 999;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  background-color: rgb(0 0 0 / 67%);
  transition: all 1s ease 0s;

}

/* div que engloba a caixa */
.conteudo-caixa {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 90%;
  transform: translateY(15%);
  margin-right: auto;
  margin-left: auto;

}

/*titulo da caixa*/

.conteudo-caixa h2 {
  text-align: center;
  text-transform: uppercase;

}

/*wrapper do conteudo dentro da caixa*/

.conteudo-wrap {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
}

/*texto  dentro da modal box*/

.conteudo-pop {
  width: 40%;
  max-width: 40%;

  padding: 15px;
  text-align: justify;

}

.conteudo-pop p {
  margin-top: 5%;

}

/* botao de fechar */
.close {
  color: #aaaaaa;
  float: right;
  position: absolute;
  font-size: 28px;
  top: 0;
  right: 10px;
  margin-bottom: 100%;
  font-weight: bold;
}

/* botao de fechar em hover */

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}


/*slider*/
.slider {
  max-width: 60%;
  width: 60%;
  display: flex;
  padding: 10px;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  align-content: center;
}
/*

.slider {
  max-width: 60%;
  width: 60%;

}
*/
/*imagem do slider*/

.slideimage {
  max-width: 100%;
  width: 100%;
  height: 100%;
  max-height: 100%;
}

/*div engloba as imagens dos sliders */
.slidewrp{
    max-width: 100%;
    width: 100%;
   /* height: 100%;
    max-height: 100%;*/
}


/*mobile*/
/*
@media only screen and (max-width: 1500px) {

 .slider {
max-height: 500px;
  }

}*/

@media only screen and (max-width: 768px) {


  .texto-subtit {
     margin-left: 0; 
     box-sizing: border-box;

  }

.line{
  display: block;

}

.conteudo-caixa {
  padding: 10px;
}

.caixa{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;

}

.conteudo-pop {
padding: 20px;
box-sizing: border-box;

} 

.conteudo-caixa {
  position: fixed;
  top: 0;
  width: 100%;
  margin-top:0;
  margin-bottom: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  transform: translateY(50%);
  box-sizing: border-box;
}

.conteudo-wrap {
  flex-direction: column;
}

.slider {
  max-width: 100%;
  width: 100%;
  height: auto;
  padding:15px;

}

.conteudo-pop {
  width: 100%;
  max-width: 100%;
}

.close {
  right: 5px;

}

}