header {
    background-color: #332E2E;
    position: sticky;
    top: 0;
    z-index: 999;
}

.header-wrap {
    display: flex;
    max-height: 80px;
    padding: 10px;
    width: 100%;
    justify-content: space-evenly;
    box-sizing: border-box;

}

/*logotipo*/

.logo-container {
    width: 10%;
    align-content: center;
    align-items: center;
    cursor: pointer;
}

.logo-container img {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
}


/*lado central aka menu principal*/

.menu {
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: flex-start;
    align-content: center;
}

.menu a {
    float: left;
    color: white;
    height: 75%;
    text-decoration: none;
    font-size: 17px;
    display: flex;
    justify-content: flex-start;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin: 10px;
}

.menu a:hover {
    color: #FE2D2F;
    cursor: pointer;
}

.login:hover {
    border-bottom: 3px solid #FE2D2F;
    transition: 1s;
}

/*lado direito*/
.menu-direito {
    float: right;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.inscreve {
    display: flex;
    text-decoration: none;
    padding: 10px;
    text-transform: uppercase;
    border: none;
    background-color: #FE2D2F;
    color: #fff;
    font-weight: bold;
    border-radius: 20px;
    white-space: nowrap;
    align-items: center;
}

.inscreve:hover {
    padding: 10px;
    text-transform: uppercase;
    border: none;
    background-color: #fff;
    color: #000;
    font-weight: bold;
    cursor: pointer;

}

/*menu hamburguer*/

.menu-hamburguer {
    display: inline-block;
    cursor: pointer;
    z-index: 999;

}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

.login {
    color: white;
    text-decoration: none;
    font-size: 17px;
    display: flex;
    align-items: center;
    padding: 10px;
    margin-right: 10px;
    border-bottom: 3px solid transparent;
}


.login-wrapper {
    display: flex;
    margin-right: 20px;
}

/*menu mobilde*/
.submenumobile {
    display: none;
}

.submenu {
    display: none;
    flex-direction: column;
    width: 100%;
    position: relative;
    justify-content: space-evenly;
    transition: ease .5s;

}

/*menu dentro do hamburguer*/

/*lado central aka menu principal*/

.submenu {
    display: none;

}

.submenu a {
    float: none;
    display: block;
    text-align: left;
    padding: 16px;
    text-align: left;
    color: #fff;
    text-decoration: none;
}

.submenu a:hover {
    background-color: white;
    color: #332E2E;
}

/*menu-dropdown*/

.dropdown {
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    background: transparent;
    border-bottom: 2px solid #332E2E;
}

.menu-dropdown {
    float: left;
    overflow: hidden;
}

.conteudo-dropdown {
    display: none;
    flex-direction: column;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-top: 3px solid transparent;
}

.conteudo-dropdown a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    float: none;
    text-align: left;

}

.conteudo-dropdown a:hover {
    background-color: #ddd;
}

.menu-dropdown:hover .conteudo-dropdown {
    border-top: 3px solid #FE2D2F;
    display: block;
}

.menu-dropdown:hover .dropdown {
    color: #FE2D2F;
    transition: 1s;
}

.menu a {
    border-bottom: 3px solid transparent;
}

.menu a:hover {
    color: #FE2D2F;
    transition: 1s;
    border-bottom: 2px solid #FE2D2F;
}

/*menu mobile*/

.menu-dropdown-mobile:hover .conteudo-dropdown-mobile {
    display: block;
}

.dropdown-mobile {
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    background: transparent;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;

}

.menu-dropdown-mobile {
    /* overflow: hidden;
    float: none;*/
    position: relative;
    /*width: 100%;*/
}

.conteudo-dropdown-mobile {
    flex-direction: column;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    display: none;
    width: 100%;
    position: relative;

}

.conteudo-dropdown-mobile a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    float: none;
    text-align: center;

}

.menu-dropdown-mobile {
    display: none;
}


/*mobile*/

@media only screen and (max-width: 768px) {
    .menu-dropdown-mobile {
        display: block;
    }

    .inscreve {
        text-decoration: none;
        text-transform: uppercase;
        border: none;
        background-color: transparent;
        color: #fff;
        font-weight: bold;
        border-radius: 20px;
        white-space: nowrap;
    }

    .menu {
        display: none;
    }

    .login-wrapper {
        display: none;
        margin: 20px;
    }

    .menu-direito {
        width: 0;
    }


    .logo-container {
        width: 100%;

    }

    .submenumobile {
        display: block;
    }

}

#empresadrop, #saudedrop, #precosdrop, #ajudadrop {
    display: none;
}

.ins {
    background-color: #FE2D2F;
}